
.MovieSchedule {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .MovieSchedule h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .MovieSchedule button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .MovieSchedule span {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
  }
  
  /* Add more styles as needed */
  