.verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.verify-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Adjust the width as needed */
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    text-align: left;
}

input[type="email"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.verify-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.verify-button:hover {
    background-color: #218838;
}

.message {
    margin-top: 20px;
    color: #333;
    font-size: 0.9em;
}

.form-group h2 {
    margin: 0; /* Adjust margin for alignment */
}

.form-group:last-child {
    text-align: center;
    margin-top: 20px;
}

.toggle-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}